# files
*~
*.out
*.aux
*.log
*.vrb
*.swp
*.bbl
*.blg
*.bak
*.nav
*.snm
*.toc
*.bib
*egg-info/
*.npz
toRsync
fromRsync
docs/sphinx/make.bat
.nfs*
*.csh
*.dic
probability/lectures/foundations/notes.md
probability/lectures/foundations/old.tex

# directories
old/
# notes/
results/
figures/
docs/sphinx/build/
docs/sphinx/source/auto_examples/
examples/sphinx_gallery/bayesianLinearRegression/data/*
!examples/sphinx_gallery/bayesianLinearRegression/data/.gitkeep
examples/sphinx_gallery/bayesianLinearRegression/figures/*
!examples/sphinx_gallery/bayesianLinearRegression/figures/.gitkeep
